.question-enter {
  opacity: 0;
  height: 0;
}

.question-enter-active {
  opacity: 1;
  height: auto;
  transition: opacity 500ms ease-in-out, height 500ms ease-in-out;
}

.question-exit {
  opacity: 1;
  height: auto;
}

.question-exit-active {
  opacity: 0;
  height: 0;
  transition: opacity 500ms ease-in-out, height 500ms ease-in-out;
}
